.time {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid red;
}
.time-display-hours{
    color: cyan;
    height: 48px;
}
.time-display-small {
    display: flex;
    flex-direction: column;
}

.time-display-minutes,
.time-display-seconds {
    color: lightgreen;
    height: 50%
}