body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
.light {
  color: #fff;
  background-color: #000;
}

.dark {
  color: #000;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
