.mode-button {
    height: 20px;
    width: 80px;
    border-radius: 10px;
    background-color: #fff;
}
.mode-button:hover {
    box-shadow: yellowgreen 0 0 20px;
}

.mode-button::before {
    content: "Light";
    color: #000;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: red;
    transition: all 0.5s ease;
}

.mode-button::after {
    content: "Dark";
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 40px;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: #000;
    transition: all 0.5s ease;
}