.mode-button {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 25px;
  border: 1px solid grey;
}

.mode-button:hover {
  cursor: pointer;
  background-color: yellow;
}

.mode-button-light {
  width: 5px;
  height: 100%;
  background-color: blue;
  border: 1px solid grey;
  border-radius: 5px;
  animation: keyframes colorChange 5s infinite;
}

.mode-button-dark {
  width: 5px;
  height: 100%;
  background-color: red;
  border: 1px solid grey;
  border-radius: 5px;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
